
<div class="app-content style-5">
    <div class="section-box-search">
        <div class="tf-container">
            <div class="search-box style-1">
                <a href="javascript:void(0);" class="icon-left icon-search"></a>
                <input type="text" class="search-field" placeholder="Qué estas buscando?" value="">
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="tf-container">
            <div class="pt-30">
                <div class="section-title d-flex justify-content-between align-items-center">
                    <h3>Clínicas destacadas</h3>
                    <a href="" class="font-title-btn text-black-5">ver todas</a>
                </div>
               
            </div>
            <div class="row">
                <div *ngFor="let specialist of specialists" 
                     [hidden]="specialist.status != 'approved'" 
                     class="col-6 col-sm-6 col-lg-3 mb-4">
                    <a href="" class="box-recent-project">
 
                        <div class="top">
                            <div class="d-flex justify-content-between align-items-center gap-10">
                                <div class="h8 fw-bold flex-grow-1">{{specialist.full_name}}</div>
                                <div  class="box-icon w-24 text-info" style="background-color: #00c9f3;">
                                    <i class="icon-check fs-18" style="color: white;"></i>
                                </div>
                                <span>
                                </span>
                            </div>
                            <ul class="mt-14 d-flex gap-8 meta-list">
                                <li class="meta-item"><i class="icon-calendar fs-12"></i> June 18, 2022</li>
                          
                            </ul>
                        </div>
                        <div class="mt-14 box-image" *ngIf="specialist.images[0]!==undefined">
                            <img src="{{specialist.images[0]}}" alt="img">
                        </div>
                        <div class="mt-14 bottom d-flex align-items-center">
                            <ul class="list-stacked">
                                <li class="avt-list">
                                    <div class="avatar avt-27 round">
                                        <img src="assets/images/avt/avt3.jpg" alt="img">
                                    </div>
                                </li>
                                <li class="avt-list">
                                    <div class="avatar avt-27 round">
                                        <img src="assets/images/avt/avt4.jpg" alt="img">
                                    </div>
                                </li>
                                <li class="avt-list">
                                    <div class="avatar avt-27 round">
                                        <img src="assets/images/avt/avt5.jpg" alt="img">
                                    </div>
                                </li>
                            </ul>
                            <div class="box-progress">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-caption-2 text-black-5">(452) </span>
                                    <div class="rating">
                                        <span class="star">★</span>
                                        <span class="score">4.5</span>
                                    </div>
                                </div>
                                <div class="progress h-5">
                                    <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <!-- <div class="mt-32">
                <div class="section-title d-flex justify-content-between align-items-center">
                    <h3>Servicios destacados</h3>
                    <a href="my-task.html" class="font-title-btn text-black-5">ver todos</a>
                </div>
                <a href="task-detail-calendar.html" class="mt-20 box-task style-2">
                    <div class="box-icon w-52 radius-8">
                        <i class="icon-wallet"></i>
                    </div>
                    <div class="content">
                        <div class="font-title-btn text-black-2">Limpieza bucal</div>
                        <div class="mt-10 d-flex align-items-center gap-16">
                            <ul class="list-stacked">
                                <li class="avt-list">
                                    <div class="avatar avt-24 round">
                                        <img src="assets/images/avt/avt3.jpg" alt="img">
                                    </div>
                                </li>
                                <li class="avt-list">
                                    <div class="avatar avt-24 round">
                                        <img src="assets/images/avt/avt4.jpg" alt="img">
                                    </div>
                                </li>
                                <li class="avt-list">
                                    <div class="avatar avt-24 round member">
                                        3+
                                    </div>
                                </li>
                            </ul>
                            <span class="meta-item"><i class="icon-star fs-12"></i> 16 opiniones</span>
                        </div>
                    </div>
                    <div class="circle_percent" data-percent=" 95">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </a>

            </div> -->
            <div class="floating-button-container">
                <button class="floating-button panic-button" (click)="global.toggleOverlay()">
                    <!-- Eliminado el ícono de admiración -->
                </button>
              
                <span class="icon-button icon-1" *ngIf="global.showIcons">+ Urgencia a domicilio</span>
                <!-- Botón eliminado o reubicado según sea necesario -->
                <span class="icon-button icon-3" *ngIf="global.showIcons">Localizar mascota</span>
            </div>
        </div>
    </div>
</div>