
body {
    font-family: 'Nunito', sans-serif !important;
  }
.swiper-slide{
    width: 30% !important
}
.floating-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  border: none;
  background-color: #ff0000; /* Rojo para el fondo */
  color: #ffffff; /* Blanco para el ícono */
  border-radius: 50%; /* Círculo */
  padding: 12px; /* Ajusta según el tamaño del ícono */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Tamaño del ícono */
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.floating-button .fa-heart {
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 165, 0, 1), #ffc107c2);
  
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Mueve el texto hacia arriba */
  padding-top: 20%; /* Ajusta esta propiedad según sea necesario para subir o bajar el texto */
  color: white;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.overlay-content {
  font-size: 47px;
  text-align: center;
  font-weight: bold; /* Hace que las letras sean más gruesas */
  line-height: 1.2; /* Ajusta el interlineado */
}
.mfb-component__button--child[data-mfb-label]::after {
  content: attr(data-mfb-label);
  position: absolute;
  background-color: #ff5722; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  white-space: nowrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
  top: -10px; /* Ajusta la posición vertical */
  right: 50px; /* Mueve el label hacia la izquierda */
  z-index: 1000;
  opacity: 1; /* El label siempre será visible */
  pointer-events: none;
}

.mfb-component__button--child[data-mfb-label]::after {
  opacity: 1; /* Siempre visible */
}
